@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-green-400 to-green-600 text-transparent bg-clip-text;
  }
  .logo-text {
    @apply bg-gradient-to-r from-yellow-300 to-yellow-600 text-transparent bg-clip-text font-extrabold;
  }
}

@layer utilities {
  .text-urdu {
    font-family: "Gulzar", serif;
  }
}

.bg-image {
  background-image: url("/madarsa.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.hover-dim:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.image-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer-bg-image {
  background-image: url("/footer2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
}

.contact-bg-image {
  background-image: url("/quranAyat1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
}