@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-green-400 to-green-600 text-transparent bg-clip-text;
  }
  .logo-text {
    @apply bg-gradient-to-r from-yellow-300 to-yellow-600 text-transparent bg-clip-text font-extrabold;
  }
}

@layer utilities {
  .text-urdu {
    font-family: "Gulzar", serif;
  }
}

